<div *ngIf="isLoading; else elseBlock">
  <div class="auth-loader-container">
    <app-loader></app-loader>

  </div>
</div>






<div id="crud" class="row">
  <div class="col-xs-12">
    <h1 class="page-header"> CRUD Laravel & Vuejs</h1>
  </div>

  <div class="col-sm-7">
    <a href="#" class="btn btn-primary pull-right" data-toggle="modal" data-target="#create">
      Nueva tarea
    </a>

    <table class="table table-over table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>Tarea</th>
        <th colspan="2">
          &nbsp;
        </th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let task of tasks">
        <td width="10px"></td>
        <td>{{ task.keep }}</td>
        <td width="10px">
          <a href="" class="btn btn-warning btn-sm">Editar</a>
        </td>

        <td width="10px">
          <a href="#" class="btn btn-danger btn-sm">Eliminar</a>
        </td>
      </tr>
      </tbody>

    </table>
    <nav>
      <ul class="pagination">
        <li>
          <a href="#">
            <span>Atras</span>
          </a>
        </li>

        <li>
          <a href="#">

          </a>
        </li>

        <li>
          <a href="#">
            <span>Siguiente</span>
          </a>
        </li>
      </ul>
    </nav>

   <!-- @include('create')
    @include('edit')-->
  </div>

  <div class="col-sm-5">
        <pre>
            <!--@{{ $data }}-->
        </pre>
  </div>

</div>

